/* Variables
------------------------------ */

:root {
    --primary-color: #7D3C98;
    --primary-color-hover: #b300ff;
    --secundary-color: #578BF2;
    --secundary-color-hover: #0055ff;
    --primary-gradient: #6610f2;
    --secundary-gradient: #0d6efd;
    
    --font-color: #333;
    --font: 'Poppins', sans-serif;

    --transition: 0.3s ease;
    --padding-section: 20px 60px;
    --padding-section-mobile: 20px;
}

/* Normalized Styles
------------------------------ */

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 13px;
    color: var(--font-color);
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img{
    object-fit: cover;
    width: 100px;
}

ul, li {
    list-style: none;
}

p {
    line-height: 25px;
}

button, input, textarea, select {
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font);
}

/* Animations
--------------------------- */
@keyframes up-down {
    0% {transform: translateY(0);}
    50% {transform: translateY(5px);}
    100% {transform: translateY(0);}
    
}

@keyframes up-down-secundary {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
    
}

@keyframes from-left-to-right {
    0% {
        opacity: 0;
        visibility: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        visibility: 1;
        transform: translateX(0);
    }
}

@keyframes from-right-to-left {
    0% {
        opacity: 0;
        visibility: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        visibility: 1;
        transform: translateX(0);
    }
}

/* Button-round
---------------------------- */
.button-round {
    padding: 10px 15px;
    letter-spacing: 1px;
    color: #fff;
    transition: var(--transition);
    background: var(--primary-color);
    /* border-radius: 80px; */
    border-radius: 10px;
    font-size: 13px;
    border: 1px solid transparent;
}

.button-round:hover {
    background: var(--primary-color-hover);
}

.rule {
    border: 3px solid var(--primary-color);
    width: 20%;
    border-radius: 10px;
}

.rule-center {
    border: 3px solid var(--primary-color);
    margin: auto;
    width: 8%;
    border-radius: 10px;
}

.container-title {
    width: 100%;
    padding: 50px 60px;
    text-align: center;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media only screen and (max-width: 428px) {
    .container-title {
        padding: 50px 20px;
    }
}

.container-title-title {
    font-size: 30px;
}

/* Form 
______________________________*/

.form {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    margin: auto;
}

.form-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.form.form-search {
    flex-wrap: nowrap;
    display: flex;
    max-width: 500px;
    gap: 10px;
}

.form-group {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}

.form-input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-weight: 700;
    color: var(--font-color);
    font-family: var(--font);
    letter-spacing: 1px;
    transition: var(--transition);
    border: 1px solid #ccc;
}

.form-input.input-round {
    border-radius: 80px;
}

.form-icon {
    position: absolute;
    right: 20px;
    color: var(--font-color);
    transition: var(--transition);
}

.form-input:focus {
    border-color: var(--primary-color-hover);
}

.form-textarea {
    width: 100%;
    height: 200px;
    resize: none;
    padding: 20px;
    font-weight: 700;
    color: var(--font-color);
    font-family: var(--font);
    letter-spacing: 1px;
    transition: var(--transition);
    border: 1px solid #ccc;
    column-gap: 2fr;
    row-gap: 2fr;
    border-radius: 10px;
}

.form-textarea:focus {
    border-color: var(--primary-color-hover);
}

.form-input:focus ~ .form-icon {
    color: var(--primary-color-hover);
    transform: rotate(-5deg);
}

.form-button {
    border-radius: 10px;
    background: var(--primary-color);
    transition: var(--transition);
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-button:hover {
    background: var(--primary-color-hover);
}

@media only screen and (max-width: 425px) {
    .form-grid {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .form.form-search {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* JavaScrips Class
----------------------------- */
.navbar-elements.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.navbar.scroll-active {
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--padding-section);
    background: #000;
}

.slider-slide.active {
    /* transform: translateX(0); */
    opacity: 1;
    visibility: visible;
}